<table class="table is-fullwidth is-hoverable is-striped">
    <thead>
        <tr>
            <th></th>
            <th>
                <input class="button level-item" type="text" id="commentTitleSearch" onkeyup="app.search('commentTitleSearch','commentTable', 1)" placeholder= "&#128270; titre..." title="">
            </th>
            <th>
                <input class="button level-item" type="text" id="commentDescrSearch" onkeyup="app.search('commentDescrSearch','commentTable', 2)" placeholder= "&#128270; description ..." title="">
            </th>
            <th>
                <input class="button level-item" type="text" id="commentCompanySearch" onkeyup="app.search('commentCompanySearch','commentTable', 3)" placeholder= "&#128270; société ..." title="">
            </th>
            <th>
                <input class="button level-item" type="text" id="commentRequestSearch" onkeyup="app.search('commentRequestSearch','commentTable', 4)" placeholder= "&#128270; demande ..." title="">
            </th>
            <th>
                <input class="button level-item" type="text" id="commentCustomerSearch" onkeyup="app.search('commentCustomerSearch','commentTable', 5)" placeholder= "&#128270; auteur ..." title="">
            </th>
        </tr>

        <tr>
            <th>Date&nbsp;
                {% include 'board/_order_buttons.html.twig' with {'index': '4', 'table': 'com', 'field' : 'updatedAt'} %}
            </th>
            <th>Titre&nbsp;
                {% include 'board/_order_buttons.html.twig' with {'index': '4', 'table': 'com', 'field' : 'title'} %}
            </th>
            <th>Description&nbsp;
                {% include 'board/_order_buttons.html.twig' with {'index': '4', 'table': 'com', 'field' : 'body'} %}
            </th>
            <th>Société&nbsp;</th>
            <th>Demande&nbsp;</th>
            <th>Auteur&nbsp;
                {# {% include 'board/_order_buttons.html.twig' with {'index': '4', 'table': 'p', 'field' : 'lastname'} %} #}
            </th>
        </tr>
    </thead>
    <tbody id="commentTable">
        {% for comment in comments %}
            <tr>
                <td>{{ comment.createdAt|date("d/m/Y") }}</td>
                <td>
                    {{ comment.title }}
                </td>
                <td>{{ comment.body|truncate(30) }}</td>
                <td>
                    {% if comment.company.id is defined %}
                        <a class="" href="{{ path('company_show', {'id': comment.company.id}) }}">{{ comment.company.name }}</a>
                    {% endif %}
                </td>
                <td>
                    {% if comment.request.id is defined %}
                        <a class="" href="{{ path('request_show', {'id': comment.request.id}) }}">{{ comment.request.title }}</a>
                    {% endif %}
                </td>
                </td>
                <td>
                    <a class="" href="{{ path('user_show', {'id': comment.user.id}) }}">
                        {{ comment.user.person.firstname ~ ' ' ~ comment.user.person.lastname }}
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>