{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ page_title }}{% endblock %}

{% block main %}
    <div class="container">
        <div class="section tabs is-boxed is-centered">
            <ul>
                <li {% if index == 1 %}class="is-active"{% endif %}>
                    <a href="{{ path('board_index', {'index' : 1}) }}">
                        <div class="level-item">
                            <h2 class="level-item subtitle has-text-info is-4">Prospects en attente <br/> d'un commercial&nbsp;</h2>
                        </div>
                        <button class="level-item button is-info is-small is-size-6">{{ orphanCompanies|length }}</button>
                    </a>
                </li>
                <li {% if index == 2 %}class="is-active"{% endif %}>
                     <a href="{{ path('board_index', {'index' : 2}) }}">
                        <div class="level-item">
                            <h2 class="level-item subtitle has-text-info is-4">Sociétés en attente <br/> de réponse&nbsp;</h2>
                        </div>
                        <button class="level-item button is-info is-small is-size-6">{{ companiesWithUnhandledRequests|length }}</button>
                    </a>
                </li>
                <li {% if index == 3 %}class="is-active"{% endif %}>
                     <a href="{{ path('board_index', {'index' : 3}) }}">
                        <div class="level-item">
                            <h2 class="level-item subtitle has-text-info is-4">Demandes en attente <br/> de réponse&nbsp;</h2>
                        </div>
                        <button class="level-item button is-info is-small is-size-6">{{ unhandledRequests|length}}</button>
                    </a>
                </li>
                <li {% if index == 4 %}class="is-active"{% endif %}>
                     <a href="{{ path('board_index', {'index' : 4}) }}">
                        <div class="level-item">
                            <h2 class="level-item subtitle has-text-info is-4">Commentaires <br/> et informations&nbsp;</h2>
                        </div>
                        <button class="level-item button is-info is-small is-size-6">{{ comments|length}}</button>
                    </a>
                </li>
            </ul>
        </div>
        {% include 'board/_index' ~ index ~ '_table.html.twig' %}
    </div>
{% endblock %}