{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ page_title }}{% endblock %}

{% block main %}
    <div class="container">
        <div class="section level">
            <div class="level-left ">
                <div class="level-item">
                    <h2 class=" level-item subtitle has-text-info is-3">Les catégories du catalogue</h2>
                    <button class=" level-item button is-info is-small is-size-4">{{ categories|length }}</button>
                </div>  
            </div> 
            <div class="level-right">
                <a class="level-item" href="{{ path('category_new')}}">
                    <button type="submit" class="level-item button is-success s-small is-size-3"><i class="fas fa-plus-circle"></i></button>
                </a>
            </div>
        </div>
        <table class="table is-fullwidth is-hoverable is-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Image</th>
                    {% if is_granted('ROLE_SUPPORT') %}
                        <th>Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                    <tr>
                        <td>   
                            <a href="{{ path('category_show', {'id': category.id}) }}">{{ category.name }}</a>
                        </td>
                        <td>{{ category.description|truncate(30) }}</td>
                        <td>
                            <figure class="image is-32x32">
                                <img src="{{ category.picture ? : "https://stickeramoi.com/3777-large_default/autocollant-point-interrogation-muraux.jpg" }}">
                            </figure>
                        </td>
                        {% if is_granted('ROLE_SUPPORT') %}
                            <td class="level">
                                <div class="level-left">
                                    <a class="level-item" href="{{ path('category_edit', {'id' : category.id })}}">
                                        <button type="submit" class="button is-info"><i class="fas fa-edit"></i></button>
                                    </a>
                                    {% include 'category/_archive_form.html.twig' %}
                                </div>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}