{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ page_title }}{% endblock %}

{% block main %}
    <div class="container">
        <div class="section level-left">
            <div class="level-item">
                <h2 class="level-item subtitle has-text-info is-3">{{ category.name }}</h2>
            </div>
            <button class="level-item button is-info is-small is-size-4">{{ category.products|length }} produits</button>
        </div>
        <div class="tile is-ancestor">
            {# Début des Tiles #}
            <div class="tile is-parent is-4 is-vertical">
                <article class="tile is-child">
                    <figure class="image is-4by3">
                        <img src="{{ category.picture }}">
                    </figure>
                </article>
            </div>
            <div class="tile is-parent is-vertical">
                <article class="tile is-child notification is-primary">
                    <p class="title">Description</p>
                    <p class="subtitle">{{ category.description }}</p>
                </article>
                <div class="tile">
                    <article class="tile is-child">
                        <p class="title">Produits</p>
                        <p class="subtitle">
                            {% for product in category.products %}
                                {{ product.name }} {% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                    </article>
                </div>
            </div>
            {# Fin des Tiles #}
        </div>
    </div>
{% endblock %}