<section class="hero is-primary navbar is-fixed-top">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="{{ path('board_index')}}">
                        <img src="{{ asset('images/cerberus_logo.png') }}" alt="CerberusCRM">
                        <h1 class="title is-3 has-text-white">o'Wine'rs</h1>
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenuHero9">
                    <span></span>
                    <span></span>
                    <span></span>
                    </span>
                </div>
                <div id="navbarMenuHero9" class="navbar-menu">
                        <div class="navbar-end">
                            <a class="navbar-item is-active" href="{{ path('board_index')}}">
                                Tableau de bord
                            </a>
                            <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar-link" href="{{ path('product_index')}}">
                                Catalogue
                                </a>

                                <div class="navbar-dropdown">
                                    <a class="navbar-item" href="{{ path('product_index')}}">
                                        Produits
                                    </a>
                                    <a class="navbar-item" href="{{ path('category_index')}}">
                                        Catégories
                                    </a>
                                </div>
                            </div>
                            <a class="navbar-item" href="{{ path('company_index')}}">
                                Sociétés
                            </a>
                            <a class="navbar-item" href="{{ path('request_index')}}">
                                Demandes
                            </a>
                            <a class="navbar-item" href="{{ path('contact_index')}}">
                                Contacts
                            </a>
                            <a class="navbar-item" href="{{ path('user_index')}}">
                                Utilisateurs
                            </a>
                            <div class="navbar-item">
                                <div class="buttons">
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <a class="button is-light" href="{{ path('app_logout') }}">
                                        Déconnexion
                                    </a>
                                {% else %}
                                    <a class="button is-light" href="{{ path('app_login') }}">
                                        Connexion
                                    </a>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
        <div class="box has-background-info">
            <p class="title has-text-centered is-6"><span class="has-text-weight-bold">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {{ app.user.person.firstname }} {{ app.user.person.lastname }}</span> - 
                        {% for role in app.user.userRoles %}
                            {{ role.title }} {% if not loop.last %}, {% endif %}
                            
                        {% endfor %}
                {% else %}
                    Philippe POIRON</span> - Administrateur Système
                {% endif %}
            </p
        </div>
    </div>
</section>