{% extends 'base_with_sidebar.html.twig' %}

{% block title %}{{ parent() }} - {{ page_title }}{% endblock %}

{% block sidebar %}
    {% for requestType in requestTypes %}
        <div class="level-left">
            <div class="level-item">
                <a  href="{{ path('request_index', {'filter': 'requestType', 'filterId': requestType.id }) }}">
                    <h2 class="level-item subtitle has-text-primary is-3">{{ requestType.title }}</h2>
                </a>
            </div>
            <button class="level-item button is-primary is-small is-size-4">{{ requestType.requests|length }}</button>
        </div>
    {% endfor %}

    <div class="level-left">
        <div class="level-item">
            <h2 class="level-item subtitle has-text-info is-3">Status</h2>
        </div>
        <button class="level-item button is-info is-small is-size-4">{{ handlingStatuses|length }}</button>
    </div>
    <div class="list is-primary is-hoverable">
        {% for handlingStatus in handlingStatuses %}
            <a class="list-item has-text-primary" href="{{ path('request_index', {'filter': 'handlingStatus', 'filterId': handlingStatus.id}) }}">
            {{ handlingStatus.title }}
            </a>
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
{% if filterId %}
    {% set orderButtonsIncludePath = 'request/_order_buttons_withfilter.twig' %}
{% else %}
    {% set orderButtonsIncludePath = 'request/_order_buttons.html.twig' %}
{% endif %}

        <div class="level-left">
            <div class="level-item">
                <h2 class="level-item subtitle has-text-info is-3">Les demandes des requests (professionnels)</h2>
            </div>
            <button class="level-item button is-info is-small is-size-4">{{ requests|length }}</button>
        </div>
        <table class="table is-fullwidth is-hoverable is-striped">
            <thead>
                <tr>
                    <th>Type 
                        {% include orderButtonsIncludePath with {'table': 'r', 'field' : 'requestType'} %}
                    </th>
                    <th>Titre 
                        {% include orderButtonsIncludePath with {'table': 'r', 'field' : 'title'} %}
                    </th>
                    <th>Description 
                        {% include orderButtonsIncludePath with {'table': 'r', 'field' : 'body'} %}
                    </th>
                    <th>Date 
                        {% include orderButtonsIncludePath with {'table': 'r', 'field' : 'createdAt'} %}
                    </th>
                    <th>Contact 
                        {% include orderButtonsIncludePath with {'table': 'p', 'field' : 'lastname'} %}
                    </th>
                    <th>Société 
                        {% include orderButtonsIncludePath with {'table': 'c', 'field' : 'name'} %}
                    </th>
                    <th>Statut de traitement 
                        {% include orderButtonsIncludePath with {'table': 'r', 'field' : 'handlingStatus'} %}
                    </th>
                    {% if is_granted('ROLE_SALES') %}
                        <th>Actions</th>
                    {% endif %}    

                </tr>
            </thead>
            <tbody>
                {% for request in requests %}
                    <tr>
                        <td>{{ request.requestType.title }}</td>
                        <td>   
                            <a href="{{ path('request_show', {'id': request.id}) }}">{{ request.title }}</a>
                        </td>
                        <td>{{ request.body|truncate(10) }}</td>
                        <td>{{ request.createdAt|date("d/m/Y") }}</td>
                        <td>{{ request.contact.person.lastname }}</td>
                        <td>{{ request.contact.company.name }}</td>
                        <td>{{ request.handlingStatus.title }}</td>
                        {% if is_granted('ROLE_SALES') %}
                            <td class="level">
                                {% include 'request/_handle_status_modal.html.twig' %}
                                <form class="level-left" action='{{ path('request_archive', {'id': request.id}) }}' method="POST">
                                    <input class="" type="hidden" name="_method" value="PATCH">
                                    {% include 'partial/_confirm_cancel_modal.html.twig' with {'message': 'Confirmation d\'Archivage'} %}
                                    <button class="button showModalConfirm is-warning"><i class="fas fa-archive"></i></button>
                                </form>
                            </td>
                        {% endif %}

                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}