{% extends 'base_with_sidebar.html.twig' %}

{% block title %}{{ parent() }} - {{ page_title }}{% endblock %}

{% block sidebar %}
    <div class="level-left">
        <div class="level-item">
            <h2 class="level-item subtitle has-text-info is-3">Société</h2>
        </div>
        <button class="level-item button is-info is-small is-size-4">{{ companies|length }}</button>
    </div>
    <div class="list is-primary is-hoverable">
        {% for company in companies %}
            <a class="list-item has-text-primary" href="{{ path('company_show', {'id': company.id}) }}">
            {{ company.name }}
            </a>
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
        <div class="level-left">
            <div class="level-item">
                <h2 class="level-item subtitle has-text-info is-3">Les demandes des requests (professionnels)</h2>
            </div>
            <button class="level-item button is-info is-small is-size-4">{{ requests|length }}</button>
        </div>
        <table class="table is-fullwidth is-hoverable is-striped">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Contact</th>
                    <th>Société</th>
                    <th>Statut de traitement</th>
                    {% if is_granted('ROLE_SALES') %}
                        <th>Actions</th>
                    {% endif %}    

                </tr>
            </thead>
            <tbody>
                {% for request in requests %}
                    <tr>
                        <td>{{ request.requestType.title }}</td>
                        <td>   
                            <a href="{{ path('request_show', {'id': request.id}) }}">{{ request.title }}</a>
                        </td>
                        <td>{{ request.body|truncate(30) }}</td>
                        <td>{{ request.createdAt|date("d/m/Y") }}</td>
                        <td>{{ request.contact.person.lastname }}</td>
                        <td>{{ request.contact.company.name }}</td>
                        <td>{{ request.handlingStatus.title }}</td>
                        {% if is_granted('ROLE_SALES') %}
                            <td class="level">
                                {% include 'request/_handle_status_modal.html.twig' %}
                                <form class="level-left" action='{{ path('request_archive', {'id': request.id}) }}' method="POST">
                                    <input class="" type="hidden" name="_method" value="PATCH">
                                    {% include 'partial/_confirm_cancel_modal.html.twig' with {'message': 'Confirmation d\'Archivage'} %}
                                    <button class="button showModalConfirm is-warning"><i class="fas fa-archive"></i></button>
                                </form>
                            </td>
                        {% endif %}

                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}