{% extends 'base_without_sidebar.html.twig' %}

{% block title %}{{ parent() }} - {{ page_title }}{% endblock %}

{% block sidebar %}
    {# {% include 'product/_sidebar.html.twig' %} #}
{% endblock %}

{% block content %}
    {% set orderButtonsIncludePath = 'partial/_order_buttons.html.twig' %}

    <div class="level">
        <div class="level-left ">
            <div class="level-item">
                <h2 class=" level-item subtitle has-text-info is-3">Les produits archivés du catalogue</h2>
                <button class=" level-item button is-info is-small is-size-4">{{ products|length }}</button>
            </div>  
        </div> 
        <div class="level-right">
            <input class="button level-item is-medium" type="text" id="productSearch" onkeyup="app.search('productSearch','productTable', 1)" placeholder= "&#128270; produit ..." title="">
            <a class="level-item" href="{{ path('product_index')}}">
                <button class="level-item button is-primary s-small is-size-3"><i class="fas fa-sort-alpha-down"></i></button>
            </a>
            {% if is_granted('ROLE_ADMIN') %}             
                <a class="level-item" href="{{ path('product_new')}}">
                    <button class="level-item button is-success s-small is-size-3"><i class="fas fa-plus-circle"></i></button>
                </a>
            {% endif %}

        </div>
    </div>
    <table class="table is-fullwidth is-hoverable is-striped" id="productTable">
        <thead>
            <tr>
                <th>Référence&nbsp;
                    {% include orderButtonsIncludePath with {'entity' : 'product', 'field' : 'reference'} %}
                </th>
                <th>Produit&nbsp;
                    {% include orderButtonsIncludePath with {'entity' : 'product', 'field' : 'name'} %}
                </th>
                <th>Description&nbsp;
                    {% include orderButtonsIncludePath with {'entity' : 'product', 'field' : 'description'} %}
                </th>
                <th>Catégories&nbsp;</th>
                <th>Prix liste&nbsp;
                    {% include orderButtonsIncludePath with {'entity' : 'product', 'field' : 'listPrice'} %}
                </th>
                <th>Image</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.reference }}</td>
                    <td>   
                        <a class="has-text-weight-bold" href="{{ path('product_show', {'id': product.id}) }}">{{ product.name }}</a>
                    </td>
                    <td>{{ product.description|truncate(30) }}</td>
                    <td>
                        {% for category in product.categories %}
                            <a class="{{ category.isActive ? 'has-text-success' : 'has-text-danger' }}" href="{{ path('category_show', {'id': category.id}) }}">{{ category.name }}</a>
                            {% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ product.listPrice }}&nbsp;€</td>
                    <td>
                        <figure class="image is-48x48">
                            <img src="{{ product.picture ?: "https://stickeramoi.com/3777-large_default/autocollant-point-interrogation-muraux.jpg" }}">
                        </figure>
                    </td>
                    <td class="level">
                        <div class="level-left">
                            <a class="level-item" href="{{ path('product_edit', {'id' : product.id })}}">
                                <button type="submit" class="button is-info"><i class="fas fa-edit"></i></button>
                            </a>
                            {% if is_granted('ROLE_ADMIN') %}
                                {% include 'product/_archive_form.html.twig' with {'notArchived': false} %}
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}