{% extends 'base_with_sidebar.html.twig' %}

{% block title %}{{ parent() }} - {{ page_title }}{% endblock %}

{% block sidebar %}
    <div class="level-left">
        <div class="level-item">
            <h2 class="level-item subtitle has-text-info is-3">Catégories</h2>
        </div>
        <button class="level-item button is-info is-small is-size-4">{{ categories|length }}</button>
    </div>
    <div class="list is-primary is-hoverable">
        {% for category in categories %}
            <a class="list-item has-text-primary" href="{{ path('product_index', {'category': category.name}) }}">
            {{ category.name }}
            </a>
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
        <div class="level">
            <div class="level-left ">
                <div class="level-item">
                    <h2 class=" level-item subtitle has-text-info is-3">Les produits du catalogue</h2>
                    <button class=" level-item button is-info is-small is-size-4">{{ products|length }}</button>
                </div>  
            </div> 
            <div class="level-right">
                <a class="level-item" href="{{ path('product_new')}}">
                    <button type="submit" class="level-item button is-success s-small is-size-3"><i class="fas fa-plus-circle"></i></button>
                </a>
            </div>
        </div>
        <table class="table is-fullwidth is-hoverable is-striped">
            <thead>
                <tr>
                    <th>Référence&nbsp;
                            <a href="{{ path('product_index', {'field': 'reference', 'order': 'ASC'}) }}">
                                <i class="fas fa-sort-up"></i>
                            </a>
                            <a href="{{ path('product_index', {'field': 'reference', 'order': 'DESC'}) }}">
                                <i class="fas fa-sort-down"></i>
                            </a>
                        </th>
                    <th>Produit</th>
                    <th>Description</th>
                    <th>Prix liste</br>(euros)</th>
                    <th>Image</th>
                    {% if is_granted('ROLE_SUPPORT') %}
                        <th>Actions</th>
                    {% endif %}

                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.reference }}</td>
                        <td>   
                            <a href="{{ path('product_show', {'id': product.id}) }}">{{ product.name }}</a>
                        </td>
                        <td>{{ product.description|truncate(30) }}</td>
                        <td>{{ product.listPrice }}&nbsp;€</td>
                        <td>
                            <figure class="image is-48x48">
                                <img src="{{ product.picture ?: "https://stickeramoi.com/3777-large_default/autocollant-point-interrogation-muraux.jpg" }}">
                            </figure>
                        </td>
                        {% if is_granted('ROLE_SUPPORT') %}
                            <td class="level-left">
                                <a class="level-item" href="{{ path('product_edit', {'id' : product.id })}}">
                                    <button type="submit" class="button is-info"><i class="fas fa-edit"></i></button>
                                </a>
                                {% include 'product/_available_form.html.twig' %}
                                {% include 'product/_onhomepage_form.html.twig' %}
                                {% include 'product/_archive_form.html.twig' %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}