{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ page_title }}{% endblock %}

{% block main %}
    <div class="container">
        <div class="section level-left">
            <div class="level-item">
                <h2 class="level-item subtitle has-text-info is-3">{{ product.name }}</h2>
                <p class="level-item button is-size-3">{{ product.listPrice }}&nbsp;€</p>
            </div>
            <button class="level-item button is-info is-small is-size-4">Réf: {{ product.reference }}</button>
        </div>
        <div class="tile is-ancestor">
            {# Début des Tiles #}
            <div class="tile is-parent is-4 is-vertical">
                <article class="tile is-child">
                    <figure class="image is-4by3">
                        <img src="{{ product.picture }}">
                    </figure>
                </article>
            </div>
            <div class="tile is-parent is-vertical">
                <article class="tile is-child notification is-primary">
                    <p class="title">Description</p>
                    <p class="subtitle">{{ product.description }}</p>
                </article>
                <div class="tile">
                    <article class="tile is-child">
                        <p class="title">Catégories</p>
                        <p class="subtitle">
                            {% for category in product.categories %}
                                {{ category.name }} {% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                    </article>
                    <article class="tile is-child">
                        <p class="title">Statuts</p>
                        <p>Disponible: <span class="has-text-weight-bold">{{ product.isAvailable? 'Oui' : 'Non' }}</span></p>
                        <p>Affichage Vitrine: <span class="has-text-weight-bold">{{ product.isOnHomePage? 'Oui' : 'Non' }}</span></p>
                    </article>
                </div>
            </div>
            {# Fin des Tiles #}
        </div>
    </div>
{% endblock %}