<div class="level dropdown is-hoverable">
    <div class="dropdown-trigger level-left">
        <div class="level-item">
            <h2 class="level-item subtitle has-text-info is-4">Filtrer par type</h2>
        </div>
    </div>

    <div class="dropdown-menu">
        <div class="dropdown-content">
            <table class="table is-fullwidth is-hoverable">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for contactType in contactTypes %}
                        <tr>
                            <td>   
                                <a href="{{ path('contact_index', {'filter': 'contactType', 'filterName': contactType.title }) }}">
                                    <h2 class="has-text-left subtitle has-text-primary is-6">{{ contactType.title }}</h2>
                                </a>
                            </td>
                            <td>
                                <button class="has-text-left button is-primary is-small is-outlined is-size-6">{{ contactType.contacts|length }}</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="level dropdown is-hoverable">
    <div class="level-left">
        <div class="level-item">
            <h2 class="level-item subtitle has-text-info is-4">Filtrer par société</h2>
        </div>
    </div>
    <div class="dropdown-menu">
        <div class="dropdown-content">
            <table class="table is-fullwidth is-hoverable">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for company in companies %}
                        <tr>
                            <td>   
                                <a href="{{ path('contact_index', {'filter': 'company', 'filterName': company.name }) }}">
                                    <h2 class="has-text-left subtitle has-text-primary is-6">{{ company.name }}</h2>
                                </a>
                            </td>
                            <td>
                                <button class="has-text-left button is-primary is-small is-outlined is-size-6">{{ company.contacts|length }}</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>