{% extends 'base_with_sidebar.html.twig' %}

{% block title %}{{ parent() }} - {{ page_title }}{% endblock %}

{% block sidebar %}
    {% include 'contact/_sidebar.html.twig' %}
{% endblock %}

{% block content %}
    {% if filterName %}
        {% set orderButtonsIncludePath = 'contact/_order_buttons_withfilter.twig' %}
    {% else %}
        {% set orderButtonsIncludePath = 'contact/_order_buttons.html.twig' %}
    {% endif %}
        <div class="level">
            <div class="level-left ">
                <div class="level-item">
                    <h2 class=" level-item subtitle has-text-info is-3">Les contacts (professionnels)</h2>
                    {% if filter %}
                        <button class=" level-item button is-primary is-small is-size-4">{{ filterName }}</button>
                    {% endif %}
                    <button class=" level-item button is-info is-small is-size-4">{{ contacts|length }}</button>
                </div>  
            </div> 
            <div class="level-right">
                <a class="level-item" href="{{ path('contact_index')}}">
                    <button class="level-item button is-primary s-small is-size-3"><i class="fas fa-sort-alpha-down"></i></button>
                </a>
                {# <a class="level-item" href="{{ path('contact_new')}}">
                    <button type="submit" class="level-item button is-success s-small is-size-3"><i class="fas fa-plus-circle"></i></button>
                </a> #}
            </div>
        </div>

        <table class="table is-fullwidth is-hoverable is-striped">
            <thead>
                <tr>
                    <th>Ajout 
                        {% include orderButtonsIncludePath with {'table': 'p', 'field' : 'createdAt'} %}
                    </th>
                    <th>Nom 
                        {% include orderButtonsIncludePath with {'table': 'p', 'field' : 'lastname'} %}
                    </th>
                    <th>Prénom 
                        {% include orderButtonsIncludePath with {'table': 'p', 'field' : 'firstname'} %}
                    </th>
                    <th>Email 
                        {% include orderButtonsIncludePath with {'table': 'co', 'field' : 'email'} %}
                    </th>
                    <th>Téléphone 
                        {% include orderButtonsIncludePath with {'table': 'p', 'field' : 'businessPhone'} %}
                    </th>
                    <th>Société 
                        {% include orderButtonsIncludePath with {'table': 'c', 'field' : 'name'} %}
                    </th>
                    <th>Titre 
                        {% include orderButtonsIncludePath with {'table': 'ct', 'field' : 'title'} %}
                    </th>
                    {% if is_granted('ROLE_SALES') %}
                    <th>Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for contact in contacts %}
                    <tr>
                        <td>{{ contact.person.createdAt|date("d/m/Y") }}</td>
                        <td>   
                            <a class="has-text-weight-bold" href="{{ path('contact_show', {'id': contact.id}) }}">{{ contact.person.lastname }}</a>
                        </td>
                        <td>{{ contact.person.firstname }}</td>
                        <td>{{ contact.email }}</td>
                        <td>{{ contact.person.businessPhone }}</td>
                        <td>   
                            <a class="has-text-weight-bold" href="{{ path('company_show', {'id': contact.company.id}) }}">{{ contact.company.name }}</a>
                        </td>
                        <td>{{ contact.contactType.title }}</td>
                        {% if is_granted('ROLE_SALES') %}
                        <td class="level">
                            <div class="level-left">
                                {% include 'contact/_handle_type_modal.html.twig' %}
                                <form class="level-item" action='{{ path('contact_archive', {'id': contact.id}) }}' method="POST">
                                    <input class="" type="hidden" name="_method" value="PATCH">
                                    {% include 'partial/_confirm_cancel_modal.html.twig' with {'message': 'Confirmation d\'Archivage'} %}
                                    <button class="button showModalConfirm is-warning"><i class="fas fa-archive"></i></button>
                                </form>
                            </div>
                        </td>
                        {% endif %}

                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}