{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ page_title }}{% endblock %}

{% block main %}
    <div class="container">
        <div class="section level">
            <div class="level-left">
                <div class="level-item">
                    <h2 class="level-item subtitle has-text-info is-3">{{ contact.person.firstname }} {{ contact.person.lastname }}</h2>
                </div>
                <button class="level-item button is-info is-small is-size-4">{{ contact.contactType.title }}</button>
            </div>
            <div class="level-right">
                <a class="level-item" href="{{ path('contact_edit', {'id' : contact.id })}}">
                    <button type="submit" class="button is-info is-large"><i class="fas fa-edit"></i></button>
                </a>
            </div>
        </div>

        <div class="tile is-ancestor">
            {# Début des Tiles #}
            <div class="tile is-parent is-3 is-vertical">
                <article class="tile is-child">
                    <figure class="image is-4by3 has-background-primary">
                        <img src="{{ asset('images/cerberus_logo.png') }}">
                    </figure>
                </article>
            </div>
            <div class="tile is-parent is-vertical">
                <article class="tile is-child notification is-primary">
                    <p class="title">Coordonnées</p>
                    <p class="subtitle">
                        <i class="fas fa-mobile-alt"></i> {{ contact.person.cellPhone }} &nbsp;&nbsp;&nbsp;
                        <i class="fas fa-phone"></i> {{ contact.person.businessPhone }} &nbsp;&nbsp;&nbsp;
                        <i class="fas fa-at"></i> {{ contact.email }}
                    </p>
                </article>
                <div class="tile">
                    <article class="tile is-child is-8">
                        <p class="title">Société</p>
                        <p class="content">
                            <a href="{{ path('company_show', {'id' : contact.company.id}) }}">
                                <span class="subtitle">{{ contact.company.name }}</span>
                            </a>
                        </p>
                    </article>
                    <article class="tile is-child">
                        <p class="title">Informations</p>
                        <p>Enregistrement: &nbsp; <span class="has-text-weight-bold">{{ contact.person.createdAt|date('d-m-Y') }}</span></p>
                        <p>Mise à jour: &nbsp; <span class="has-text-weight-bold">{{ contact.person.updatedAt|date('d-m-Y') }}</span></p>
                    </article>
                </div>
            </div>
            {# Fin des Tiles #}
        </div>

        <br>

        <div class="tabs is-centered">
            <ul>
                <li class="is-active">
                     <a href="">
                        <div class="level-item">
                            <h2 class="level-item subtitle has-text-primary is-4">Demandes&nbsp;</h2>
                        </div>
                        <button class="level-item button is-primary is-small is-size-6"> {{ demands|length }}</button>
                    </a>
                </li>
                <li>
                    <a class="level-item" href="{{ path('request_new', {'contact_id' : contact.id}) }}">
                        <button type="submit" class="level-item button is-success s-small"><i class="fas fa-plus-circle"></i></button>
                    </a>
                </li>
            </ul>
        </div>

        <table class="table is-fullwidth is-hoverable is-striped">
            {% if demands %}
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Société</th>
                    <th>Statut</th>
                    <th>Commercial</th>
                    {% if is_granted('ROLE_SALES') %}
                        <th>Actions</th>
                    {% endif %} 
                </tr>
            </thead>
            <tbody>
                {% for request in demands %}
                    <tr>
                        <td>{{ request.createdAt|date("d/m/Y") }}</td>
                        <td>{{ request.requestType.title }}</td>
                        <td>   
                            <a class="has-text-weight-bold" href="{{ path('request_show', {'id': request.id}) }}">{{ request.title }}</a>
                        </td>
                        <td>{{ request.body|truncate(30) }}</td>
                        
                        <td>
                            <a class="" href="{{ path('company_show', {'id': contact.company.id}) }}">
                                {{ contact.company.name }}
                            </a>
                        </td>
                        <td>{{ request.handlingStatus.title }}</td>
                        <td>
                            {% if request.contact.company.user %}
                                <a class="" href="{{ path('user_show', {'id': request.contact.company.user.id}) }}">{{ request.contact.company.user.person.firstname ~ ' ' ~ request.contact.company.user.person.lastname }}</a>
                            {% endif %}
                        </td>
                        {% if is_granted('ROLE_SALES') %}
                            <td class="level">
                                <div class="level-left">
                                    {% include 'request/_handle_status_modal.html.twig' %}
                                    <form class="level-item" action='{{ path('request_archive', {'id': request.id}) }}' method="POST">
                                        <input class="" type="hidden" name="_method" value="PATCH">
                                        {% include 'partial/_confirm_cancel_modal.html.twig' with {'message': 'Confirmation d\'Archivage'} %}
                                        <button class="button showModalConfirm is-warning level-item"><i class="fas fa-archive"></i></button>
                                    </form>
                                </div>
                            </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            {% else %}
                <p class="has-text-weight-bold has-text-centered has-text-warning is-size-4">Aucune donnée à afficher</tr>
            {% endif %}
        </table>
        <br>
    </div>
{% endblock %}