<div class="level">
    <div class="level-left">
        <h2 class=" level-item title is-4">Demandes:&nbsp;<span class="has-text-weight-bold">{{ company.name }}</span></h2>
    </div> 
</div>

<table class="table is-fullwidth is-hoverable is-striped">
    {% if demands %}
        <thead>
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Titre</th>
            <th>Description</th>
            <th>Contact</th>
            <th>Statut</th>
            <th>Commercial</th>
            {% if is_granted('ROLE_SALES') %}
                <th>Actions</th>
            {% endif %} 
        </tr>
    </thead>
    <tbody>
        {% for request in demands %}
            <tr>
                <td>{{ request.createdAt|date("d/m/Y") }}</td>
                <td>{{ request.requestType.title }}</td>
                <td>   
                    <a class="has-text-weight-bold" href="{{ path('request_show', {'id': request.id}) }}">{{ request.title }}</a>
                </td>
                <td>{{ request.body|truncate(30) }}</td>
                
                <td>
                    <a class="" href="{{ path('contact_show', {'id': request.contact.id}) }}">
                        {{ request.contact.person.firstname ~ ' ' ~ request.contact.person.lastname }}
                    </a>
                </td>
                <td>{{ request.handlingStatus.title }}</td>
                <td>
                    {% if request.contact.company.user %}
                        <a class="" href="{{ path('user_show', {'id': request.contact.company.user.id}) }}">{{ request.contact.company.user.person.firstname ~ ' ' ~ request.contact.company.user.person.lastname }}</a>
                    {% endif %}
                </td>
                {% if is_granted('ROLE_SALES') %}
                    <td class="level">
                        <div class="level-left">
                            {% include 'request/_handle_status_modal.html.twig' %}
                            <form class="level-item" action='{{ path('request_archive', {'id': request.id}) }}' method="POST">
                                <input class="" type="hidden" name="_method" value="PATCH">
                                {% include 'partial/_confirm_cancel_modal.html.twig' with {'message': 'Confirmation d\'Archivage'} %}
                                <button class="button showModalConfirm is-warning level-item"><i class="fas fa-archive"></i></button>
                            </form>
                        </div>
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    {% else %}
        <p class="has-text-weight-bold has-text-centered has-text-warning is-size-4">Aucune donnée à afficher</tr>
    {% endif %}
</table>

