<table class="table is-fullwidth is-hoverable is-striped">
    {% if companyAddresses %}
        <thead>
            <tr>
                <th>De</th>
                <th>Adresse</th>
                <th>Code postal</th>
                <th>Ville</th>
                <th>Pays</th>
                {% if is_granted('ROLE_SALES') %}
                <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for address in companyAddresses %}
                <tr>
                    <td>{{ address.companyAddressType.title }}</td>
                    <td>   
                        {{ address.firstAddressField }}
                        {% if (address.secondAddressField is not null) %}
                            ,</br>
                            {{address.secondAddressField}}
                        {% endif %}
                    </td>
                    <td>{{ address.postalCode }}</td>
                    <td>{{ address.city }}</td>
                    <td>{{ address.country }}</td>
                    {% if is_granted('ROLE_SALES') %}
                    <td>
                        <div class="level-left">
                            <a class="level-item" href="{{ path('company_address_edit', {'id': company.id, 'address_id': address.id}) }}">
                                <button type="submit" class="button is-info"><i class="fas fa-edit"></i></button>
                            </a>
                            {% include 'company/_archive_form.html.twig' with {'notArchived': true} %}
                        </div>
                    </td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>Aucune donnée à afficher</tr>
            {% endfor %}
        </tbody>
    {% else %}
        <p class="has-text-weight-bold has-text-centered has-text-warning is-size-4">Aucune donnée à afficher</tr>
    {% endif %}
</table>