<div class="level-left">
    <div class="level-item">
        <h2 class="level-item subtitle has-text-info is-3">Filtres</h2>
    </div>
</div>
<div class="level-left">
    <div class="level-item">
        <a  href="{{ path('company_index', {'filter': 'isNotCustomer'}) }}">
            <h2 class="level-item subtitle has-text-primary is-5">Prospects</h2>
        </a>
    </div>
    <button class="level-item button is-primary is-small is-size-6">{{ prospects|length }}</button>
</div>
<div class="level-left">
    <div class="level-item">
        <a  href="{{ path('company_index', {'filter': 'isCustomer'}) }}">
            <h2 class="level-item subtitle has-text-primary is-5">Clients</h2>
        </a>
    </div>
    <button class="level-item button is-primary is-small is-size-6">{{ customers|length }}</button>
</div>

<div class="level-left">
    <div class="level-item">
        <h2 class="level-item subtitle has-text-info is-3">Commerciaux</h2>
    </div>
    <button class="level-item button is-info is-small is-size-4">{{ salesUsers|length }}</button>
</div>
<div class="list is-primary is-hoverable">
    {% for salesUser in salesUsers %}
        <a class="list-item has-text-primary" href="{{ path('company_index', {'filter': 'salesUser', 'salesUser': salesUser.id}) }}">
        {{ salesUser.person.firstname }} {{ salesUser.person.lastname }}
        </a>
    {% endfor %}
</div>