{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ page_title }}{% endblock %}

{% block main %}
    <div class="container">
        <div class="section level-left">
            <div class="level-item">
                <h2 class="level-item subtitle has-text-info is-3">Les sociétés (clients et prospects)</h2>
            </div>
            <button class="level-item button is-info is-small is-size-4">{{ companies|length }}</button>
        </div>
        <table class="table is-fullwidth is-hoverable is-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Client/Prospect</th>
                    <th>Commercial</th>
                    {% if is_granted('ROLE_SALES') %}
                        <th>Actions</th>
                    {% endif %}    
                </tr>
            </thead>
            <tbody>
                {% for company in companies %}
                    <tr class="">
                        <td>   
                            <a href="{{ path('company_show', {'id': company.id}) }}">{{ company.name }}</a>
                        </td>
                        <td>{{ company.description|truncate(30) }}</td>
                        <td>
                            <figure class="image is-48x48">
                                <img src="{{ company.picture ?: "https://stickeramoi.com/3777-large_default/autocollant-point-interrogation-muraux.jpg" }}">
                            </figure>
                        </td>
                        <td>{{ company.isCustomer ? 'Client' : 'Prospect' }}</td>
                        <td>{{ company.user ? company.user.person.lastname : 'Dégun' }}</td>
                        {% if is_granted('ROLE_SALES') %}
                            <td class="level">
                                <form class="level-left" action='{{ path('company_archive', {'id': company.id}) }}' method="POST">
                                    <input class="" type="hidden" name="_method" value="PATCH">
                                    <button type="submit" class="button is-warning"><i class="fas fa-archive"></i></button>
                                </form>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}