{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ page_title }}{% endblock %}

{% block main %}
    <div class="container">
        <div class="section level">
            <div class="level-left ">
                <div class="level-item">
                    <h2 class=" level-item subtitle has-text-info is-3">Les sociétés (clients et prospects)</h2>
                    <button class=" level-item button is-info is-small is-size-4">{{ companies|length }}</button>
                </div>  
            </div> 
            <div class="level-right">
                <a class="level-item" href="{{ path('company_new')}}">
                    <button type="submit" class="level-item button is-success s-small is-size-3"><i class="fas fa-plus-circle"></i></button>
                </a>
            </div>
        </div>
        <table class="table is-fullwidth is-hoverable is-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Client/Prospect</th>
                    <th>Commercial</th>
                    {% if is_granted('ROLE_SALES') %}
                        <th>Actions</th>
                    {% endif %}    
                </tr>
            </thead>
            <tbody>
                {% for company in companies %}
                    <tr class="">
                        <td>   
                            <a href="{{ path('company_show', {'id': company.id}) }}">{{ company.name }}</a>
                        </td>
                        <td>{{ company.description|truncate(30) }}</td>
                        <td>
                            <figure class="image is-48x48">
                                <img src="{{ company.picture ?: "https://stickeramoi.com/3777-large_default/autocollant-point-interrogation-muraux.jpg" }}">
                            </figure>
                        </td>
                        <td>{{ company.isCustomer ? 'Client' : 'Prospect' }}</td>
                        <td>{{ company.user ? (company.user.person.firstname ~ ' ' ~ company.user.person.lastname) }}</td>
                        {% if is_granted('ROLE_SALES') %}
                            <td class="level">
                                <div class="level-left">
                                    <a class="level-item" href="{{ path('company_edit', {'id' : company.id })}}">
                                        <button type="submit" class="button is-info"><i class="fas fa-edit"></i></button>
                                    </a>
                                    <form class="level-item" action='{{ path('company_archive', {'id': company.id}) }}' method="POST">
                                        <input class="" type="hidden" name="_method" value="PATCH">
                                        {% include 'partial/_confirm_cancel_modal.html.twig' with {'message': 'Confirmation d\'Archivage'} %}
                                        <button class="button showModalConfirm is-warning"><i class="fas fa-archive"></i></button>
                                    </form>
                                </div>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}