{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ page_title }}{% endblock %}

{% block main %}
    <div class="container">
        <div class="section level-left">
            <div class="level-item">
                <h2 class="level-item subtitle has-text-info is-3">Nouvelle adresse pour la société {{company.name}}</h2>
            </div>
            <button class="level-item button is-info is-small is-size-4">Ajout</button>
        </div>
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
            <button type="submit" class="button is-info">Ajouter</button>
        {{ form_end(form) }}
    </div>
{% endblock %}