{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ page_title }}{% endblock %}

{% block main %}
    <div class="container">
        <div class="level">
            <div class="section level-left">
                <div class="level-item">
                    <h2 class="level-item subtitle has-text-info is-3">{{ company.name }}</h2>
                </div>
                <button class="level-item button is-info is-small is-size-4">{{ company.isCustomer ? 'Client' : 'Prospect' }}</button>
            </div>
            {% if is_granted('ROLE_SALES') %}
                <div class="level-right">
                    <a class="level-item" href="{{ path('company_edit', {'id' : company.id })}}">
                        <button type="submit" class="button is-info is-large"><i class="fas fa-edit"></i></button>
                    </a>
                </div>
            {% endif %}
        </div>

        <div class="section tabs is-boxed is-centered">
            <ul>
                <li {% if index == 1 %}class="is-active"{% endif %}>
                    <a href="{{ path('company_show', {'id': company.id, 'index' : 1}) }}">
                        <div class="level-item">
                            <h2 class="level-item subtitle has-text-info is-4">Généralités&nbsp;</h2>
                        </div>
                    </a>
                </li>
                <li {% if index == 2 %}class="is-active"{% endif %}>
                     <a href="{{ path('company_show', {'id': company.id, 'index' : 2}) }}">
                        <div class="level-item">
                            <h2 class="level-item subtitle has-text-info is-4">Commentaires&nbsp;</h2>
                        </div>
                        <button class="level-item button is-info is-small is-size-6">{{ comments|length }}</button>
                    </a>
                </li>
            </ul>
        </div>


        {% include 'company/_show' ~ index ~ '.html.twig' %}

    </div>
{% endblock %}