{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ page_title }}{% endblock %}

{% block main %}
    <div class="container">
        <div class="section level-left">
            <div class="level-item">
                <h2 class="level-item subtitle has-text-info is-3">{{ user.person.firstname }} {{ user.person.lastname }}</h2>
            </div>
            <button class="level-item button is-info is-small is-size-4">MISE A JOUR</button>
        </div>
        {{ form_start(userForm, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(personForm) }}
        {{ form_widget(userForm) }}
            <button type="submit" class="button is-info">Mettre à Jour</button>
        {{ form_end(userForm) }}
    </div>
{% endblock %}