{% extends 'base_with_sidebar.html.twig' %}

{% block title %}{{ parent() }} - {{ page_title }}{% endblock %}

{% block sidebar %}
    <div class="level-left">
        <div class="level-item">
            <h2 class="level-item subtitle has-text-info is-3">Roles</h2>
        </div>
        <button class="level-item button is-info is-small is-size-4">{{ userRoles|length }}</button>
    </div>
    <div class="list is-primary is-hoverable">
        {% for userRoles in userRoles %}
            <a class="list-item has-text-primary" href="#">
            {{ userRoles.title }}
            </a>
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <h2 class=" level-item subtitle has-text-info is-3">Les utilisateurs</h2>
                    <button class=" level-item button is-info is-small is-size-4">{{ users|length }}</button>
                </div>  
            </div> 
            {% if is_granted('ROLE_MANAGER') %}
                <div class="level-right">
                    <a class="level-item" href="{{ path('user_new')}}">
                        <button type="submit" class="level-item button is-success s-small is-size-3"><i class="fas fa-plus-circle"></i></button>
                    </a>
                </div>
            {% endif %}
        </div>
        <table class="table is-fullwidth is-hoverable is-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    <th>Role(s)</th>
                    <th>Société(s)</th>
                    {% if is_granted('ROLE_MANAGER') %}
                    <th>Actions</th>
                    {% endif %}

                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>   
                            <a href="{{ path('user_show', {'id': user.id}) }}">{{ user.person.lastname }}</a>
                        </td>
                        <td>{{ user.person.firstname }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.person.businessPhone }}</td>
                        <td>
                            {% for role in user.userRoles %}
                                {{ role.title }} {% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for company in user.companies %}
                                {{ company.name }} {% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        {% if is_granted('ROLE_MANAGER') %}
                        <td class="level">
                            <div class="level-left">
                                <a class="level-item" href="{{ path('user_edit', {'id' : user.id })}}">
                                    <button type="submit" class="button is-info"><i class="fas fa-edit"></i></button>
                                </a>
                                <form class="level-item" action='{{ path('user_archive', {'id': user.id}) }}' method="POST">
                                    <input class="" type="hidden" name="_method" value="PATCH">
                                    {# Modal de confirmation d'opération #}
                                    {% include 'partial/_confirm_cancel_modal.html.twig' with {'message': 'Confirmation d\'Archivage'} %}
                                    <button class="button showModalConfirm is-warning"><i class="fas fa-archive"></i></button>
                                </form>
                            </div>
                        </td>
                        {% endif %}

                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}